<header class="site-header">
  <div class="container">
    <div class="logo">
      <h1 id="logo-letters">PT</h1>
      <i>Click wisely, break the deception.</i>
    </div>
    <nav class="main-nav">
      <ul>
        <!-- <li><a href="#">Rooms</a></li>
        <li><a href="#">Dining</a></li>
        <li><a href="#">Spa</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Contact</a></li> -->
      </ul>
    </nav>
    <!-- onclick="bookNow()"  -->
    <a id="book-now" href="./page2.html" class="btn book-btn">Book No?w</a>
  </div>
  <div id="point-banner"></div>
</header>
